<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Bootstrap Theme The Band</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/menuPage.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/menu">Restaurant Pearl</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#myPage">RESTAURANT MENU</a></li>
                <li><a href="#band">ACTIVE ORDERS</a></li>
                <li><a href="#tour">TAKE AN ORDER</a></li>
                <li><a href="#contact">REFERENCE</a></li>
        <li><form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-default" value = "Logout">Logout</button>
        </form></li>
        </ul>
    </div>
    </div>
</nav>
</body>
</html>