<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Order Summary</title>
</head>
<body>
<h1>Order summary</h1>
<p><label>Status: </label>
    <span th:text="${order.status}"></span></p>
<p><label>Order number: </label>
    <span th:text="${order.id}"></span></p>
<p><label>Table number: </label>
    <span th:text="${order.tableNum}"></span></p>
<p><label>Total price: </label>
    <span th:text="${order.totalPrice}"></span></p>
<p><label>Order date: </label>
    <span th:text="${order.orderDate}"></span></p>
<p><label>Dish count: </label>
    <span th:text="${orderDish.dishCount}"></span></p>
<p th:if="${orderDish.dishCount != 0}">
    <label>Dish name: </label>
    <span th:text="${orderDish.dish.name}"></span>
</p>
<p th:if="${orderDish.dishCount == 0}"> Not dish </p>
<p><label>Drink count: </label>
    <span th:text="${orderDish.drinkCount}"></span></p>
<p th:if="${orderDish.drinkCount != 0}">
    <label>Drink name: </label>
    <span th:text="${orderDish.drink.name}"></span>
</p>
<p th:if="${orderDish.drinkCount == 0}"> Not drink </p>
<a href = "/activeOrders">Back!</a>
</body>
</html>