<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>

<form action="#" th:action="@{/process_register}" th:object="${staff}" method="post">
<div class="container-fluid vh-100" style="margin-top:100px">
    <div class="rounded d-flex justify-content-center">
      <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
        <div class="text-center">
          <h3 class="text-primary">REGISTER</h3>
        </div>
        <div class="p-4">
          <div class="input-group mb-3">
            <input type="text" th:field="*{username}" class="form-control" placeholder="username" required><p style="color:red">*</p>
          </div>
          <span th:if = "${#fields.hasErrors('username')}" th:errors = "*{username}" style = "color:red"></span>
          <div class="input-group mb-3">
            <input type="password" th:field="*{password}" class="form-control" placeholder="password" required><p style="color:red">*</p>
          </div>
          <span th:if = "${#fields.hasErrors('password')}" th:errors = "*{password}" style = "color:red"></span>
          <div class="form-group">
            <div class="form-check">
              <input type="radio" name="role" value=WAITER> Waiter<br>
              <span th:if = "${#fields.hasErrors('role')}" th:errors = "*{role}" style = "color:red"></span>
            </div>
            <div class="form-check">
              <input type="radio" name="role" value=COOK> Cook<br>
              <span th:if = "${#fields.hasErrors('role')}" th:errors = "*{role}" style = "color:red"></span>
            </div>
          </div>
          <div class="d-grid col-12 mx-auto">
            <br>
            <button type="submit" class="btn btn-success">Register</button><br>
            <button type="reset" class="btn btn-primary">Reset</button>
            <a th:href="@{/menu}">Back to menu!</a><br>
            <a th:href="@{/login}">You have an account? Login!</a>
          </div>
          </p>
        </div>
      </div>
      <div class="col-md-4 d-sm-none d-md-block">
        <img src="https://i.ibb.co/tYv3bPJ/pc7.jpg"
             class="d-block w-100 img-fluid" alt="image">
      </div>
    </div>
</div>
</form>
</body>
</html>
<style>
body  {
  background-image: url("https://d3aux7tjp119y2.cloudfront.net/images/Tak2-CMSTemplate_IrMZHla.width-1650.jpg");
  background-color: #cccccc;
}
</style>