<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:iteration="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/waiter.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Restaurant Menu</title>
</head>
<body>
<div class="menu-container">

    <input type="checkbox" id="openmenu" class="hamburger-checkbox">

    <div class="hamburger-icon">
        <label for="openmenu" id="hamburger-label">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>
    <div class="menu-pane">
        <nav>
            <ul class="menu-links">
                <li><a href="/restaurantMenu">RESTAURANT MENU</a></li>
                <li><a href="/addDish">ADD DISH TO MENU</a></li>
                <li><a href="/addDrink">ADD DRINK TO MENU</a></li>
                <li><a href="/activeOrders">ACTIVE ORDERS</a></li>
                <li><a href="/addOrder">TAKE AN ORDER</a></li>
                <li><a href="/waiterReference">REFERENCE</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class = "fr">
<table class = "table table-bordered">
    <thead>
    <tr class="text-center">
        <td colspan="6" style="align:center"><h1>DISHES</h1></td>
    </tr>
    <tr>
        <th>name</th>
        <th>type</th>
        <th>ingredients</th>
        <th>price</th>
        <th>Update/Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-center">
        <td colspan="6" style="align:center"><h4>SOUPS</h4></td>
    </tr>
    <tr th:each="dish : ${allDishes}" th:if="${dish.type == T(com.example.waiter.Enums.DishType).SOUP}">
        <td th:text = "${dish.name}"></td>
        <td th:text = "${dish.type}"></td>
        <td th:text = "${dish.ingredients}"></td>
        <td th:text = "${dish.price}"></td>
        <td>
            <a th:href="@{/editDish/{dishId}(dishId=${dish.id})}">Update</a>
            <form th:action="@{deleteDish/{dishId}(dishId=${dish.id})}" method="post">
                <button type="submit" class="btn btn-default">Delete</button>
            </form>
        </td>
    </tr>
    <tr class="text-center">
        <td colspan="6"><h4>SALADS</h4></td>
    </tr>
    <tr th:each="dish : ${allDishes}" th:if="${dish.type == T(com.example.waiter.Enums.DishType).SALAD}">
        <td th:text = "${dish.name}"></td>
        <td th:text = "${dish.type}"></td>
        <td th:text = "${dish.ingredients}"></td>
        <td th:text = "${dish.price}"></td>
        <td>
            <a th:href="@{/editDish/{dishId}(dishId=${dish.id})}">Update</a>
            <form th:action="@{deleteDish/{dishId}(dishId=${dish.id})}" method="post">
                <button type="submit" class="btn btn-default">Delete</button>
            </form>
        </td>
    </tr>
    <tr class="text-center">
        <td colspan="6"><h4>GRILL</h4></td>
    </tr>
    <tr th:each="dish : ${allDishes}" th:if="${dish.type == T(com.example.waiter.Enums.DishType).GRILL}">
        <td th:text = "${dish.name}"></td>
        <td th:text = "${dish.type}"></td>
        <td th:text = "${dish.ingredients}"></td>
        <td th:text = "${dish.price}"></td>
        <td>
            <a th:href="@{/editDish/{dishId}(dishId=${dish.id})}">Update</a>
            <form th:action="@{deleteDish/{dishId}(dishId=${dish.id})}" method="post">
                <button type="submit" class="btn btn-default">Delete</button>
            </form>
        </td>
    </tr>
    <tr class="text-center">
        <td colspan="6"><h4>DESSERT</h4></td>
    </tr>
    <tr th:each="dish : ${allDishes}" th:if="${dish.type == T(com.example.waiter.Enums.DishType).DESSERT}">
        <td th:text = "${dish.name}"></td>
        <td th:text = "${dish.type}"></td>
        <td th:text = "${dish.ingredients}"></td>
        <td th:text = "${dish.price}"></td>
        <td>
            <a th:href="@{/editDish/{dishId}(dishId=${dish.id})}">Update</a>
            <form th:action="@{deleteDish/{dishId}(dishId=${dish.id})}" method="post">
                <button type="submit" class="btn btn-default">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
    <table class = "table table-bordered">
        <thead>
        <tr class="text-center">
            <td colspan="5" style="align:center"><h1>DRINKS</h1></td>
        </tr>
        <tr>
            <th>name</th>
            <th>type</th>
            <th>price</th>
            <th>Update/Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center">
            <td colspan="5" style="align:center"><h4>SOFT DRINKS</h4></td>
        </tr>
        <tr th:each="drink : ${allDrinks}" th:if="${drink.type == T(com.example.waiter.Enums.DrinkType).SOFT}">
            <td th:text = "${drink.name}"></td>
            <td th:text = "${drink.type}"></td>
            <td th:text = "${drink.price}"></td>
            <td>
                <a th:href="@{/editDrink/{drinkId}(drinkId=${drink.id})}">Update</a>
                <form th:action="@{deleteDrink/{drinkId}(drinkId=${drink.id})}" method="post">
                    <button type="submit" class="btn btn-default">Delete</button>
                </form>
            </td>
        </tr>
        <tr class="text-center">
            <td colspan="5"><h4>ALCOHOLIC DRINK</h4></td>
        </tr>
        <tr th:each="drink : ${allDrinks}" th:if="${drink.type == T(com.example.waiter.Enums.DrinkType).ALCOHOLIC}">
            <td th:text = "${drink.name}"></td>
            <td th:text = "${drink.type}"></td>
            <td th:text = "${drink.price}"></td>
            <td>
                <a th:href="@{/editDrink/{drinkId}(drinkId=${drink.id})}">Update</a>
                <form th:action="@{deleteDrink/{drinkId}(drinkId=${drink.id})}" method="post">
                    <button type="submit" class="btn btn-default">Delete</button>
                </form>
            </td>
        </tr>
        <tr class="text-center">
            <td colspan="5"><h4>HOT DRINK</h4></td>
        </tr>
        <tr th:each="drink : ${allDrinks}" th:if="${drink.type == T(com.example.waiter.Enums.DrinkType).HOT}">
            <td th:text = "${drink.name}"></td>
            <td th:text = "${drink.type}"></td>
            <td th:text = "${drink.price}"></td>
            <td>
                <a th:href="@{/editDrink/{drinkId}(drinkId=${drink.id})}">Update</a>
                <form th:action="@{deleteDrink/{drinkId}(drinkId=${drink.id})}" method="post">
                    <button type="submit" class="btn btn-default">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
<style>
div.fr {
width: 1000px;
margin: 50px auto 0;
}
body  {
  background-image: url("https://www.centonzerestaurant.com/resourcefiles/homeimages/centonze.jpg");
  background-color: #cccccc;
}
table {
        background-color: white;
        }
</style>