<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:iteration="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Restaurant Menu</title>
</head>
<body>
<h1 align="center">All Dishes</h1>
<div class = "fr">
<table class = "table table-bordered">
    <thead>
    <tr>
        <th>name</th>
        <th>type</th>
        <th>ingredients</th>
        <th>price</th>
        <th>Update/Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-center">
        <td colspan="6" style="align:center"><h4>SOUPS</h4></td>
    </tr>
    <tr th:each="dish : ${allDishes}" th:if="${dish.type == T(com.example.waiter.Enums.DishType).SOUP}">
        <td th:text = "${dish.name}"></td>
        <td th:text = "${dish.type}"></td>
        <td th:text = "${dish.ingredients}"></td>
        <td th:text = "${dish.price}"></td>
        <td>
            <a th:href="@{/editDish/{dishId}(dishId=${dish.id})}">Update</a>
            <form th:action="@{deleteDish/{dishId}(dishId=${dish.id})}" method="post">
                <button type="submit" class="btn btn-default">Delete</button>
            </form>
        </td>
    </tr>
    <tr class="text-center">
        <td colspan="6"><h4>SALADS</h4></td>
    </tr>
    <tr th:each="dish : ${allDishes}" th:if="${dish.type == T(com.example.waiter.Enums.DishType).SALAD}">
        <td th:text = "${dish.name}"></td>
        <td th:text = "${dish.type}"></td>
        <td th:text = "${dish.ingredients}"></td>
        <td th:text = "${dish.price}"></td>
        <td>
            <a th:href="@{/editDish/{dishId}(dishId=${dish.id})}">Update</a>
            <form th:action="@{deleteDish/{dishId}(dishId=${dish.id})}" method="post">
                <button type="submit" class="btn btn-default">Delete</button>
            </form>
        </td>
    </tr>
    <tr class="text-center">
        <td colspan="6"><h4>GRILL</h4></td>
    </tr>
    <tr th:each="dish : ${allDishes}" th:if="${dish.type == T(com.example.waiter.Enums.DishType).GRILL}">
        <td th:text = "${dish.name}"></td>
        <td th:text = "${dish.type}"></td>
        <td th:text = "${dish.ingredients}"></td>
        <td th:text = "${dish.price}"></td>
        <td>
            <a th:href="@{/editDish/{dishId}(dishId=${dish.id})}">Update</a>
            <form th:action="@{deleteDish/{dishId}(dishId=${dish.id})}" method="post">
                <button type="submit" class="btn btn-default">Delete</button>
            </form>
        </td>
    </tr>
    <tr class="text-center">
        <td colspan="6"><h4>DESSERT</h4></td>
    </tr>
    <tr th:each="dish : ${allDishes}" th:if="${dish.type == T(com.example.waiter.Enums.DishType).DESSERT}">
        <td th:text = "${dish.name}"></td>
        <td th:text = "${dish.type}"></td>
        <td th:text = "${dish.ingredients}"></td>
        <td th:text = "${dish.price}"></td>
        <td>
            <a th:href="@{/editDish/{dishId}(dishId=${dish.id})}">Update</a>
            <form th:action="@{deleteDish/{dishId}(dishId=${dish.id})}" method="post">
                <button type="submit" class="btn btn-default">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>
<style>
div.fr {
width: 1000px;
margin: auto;
}
</style>