<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Restaurant Pearl</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/menuPage.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active" style="text-align: center !important;">
            <img src="https://www.centonzerestaurant.com/resourcefiles/homeimages/centonze.jpg" alt="Chicago" style="width: 100%; max-width: 1200px; height: auto; display: block; margin: 0 auto;">
            <div class="carousel-caption">
                <h2>Restaurant Pearl</h2>
                <p>The best restaurant in Bulgaria</p>
            </div>
        </div>
        <div class="item" style="text-align: center;">
            <img src="https://www.centonzerestaurant.com/resourcefiles/homeimages/rest-centonze.jpg" alt="Chicago" style="width: 100%; max-width: 1200px; height: auto; display: block; margin: 0 auto;">
            <div class="carousel-caption">
                <h2>Restaurant Pearl</h2>
                <p>The best restaurant in Bulgaria</p>
            </div>
        </div>
        <div class="item" style="text-align: center;">
            <img src="https://www.centonzerestaurant.com/resourcefiles/homeimages/centonze-space.jpg" alt="Chicago" style="width: 100%; max-width: 1200px; height: auto; display: block; margin: 0 auto;">
            <div class="carousel-caption">
                <h2>Restaurant Pearl</h2>
                <p>The best restaurant in Bulgaria</p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="container text-center">
    <h1>Restaurant Pearl</h1>
    <p><em>THE BEST RESTAURANT MANAGEMENT PROJECT!!!</em></p>
    <h3>Welcome to our restaurant!</h3>
    <p><em>You can register or login as a waiter or as a cook and do some work</em></p>

    <a href = "/register">Register</a>
    <a th:href = "@{/login}">Login</a>
    <br><br>
    <div class="row">
        <div class="col-sm-4">
            <p class="text-center"><strong>Happy people</strong></p><br>
            <a href="#demo" data-toggle="collapse">
                <img src="/pictures/pc4.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
            </a>
        </div>
        <div class="col-sm-4">
            <p class="text-center"><strong>Delicious food</strong></p><br>
            <a href="#demo2" data-toggle="collapse">
                <img src="/pictures/pc5.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
            </a>
        </div>
        <div class="col-sm-4">
            <p class="text-center"><strong>Great staff</strong></p><br>
            <a href="#demo3" data-toggle="collapse">
                <img src="/pictures/pc6.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
            </a>
        </div>
    </div>
</div>
</body>
</html>

